html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 2vmin;
  color: white;
  overflow: hidden;
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.25rem;
  color: #172b4d;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .App {
    font-size: 3vmin;
    padding: 1rem;
  }
}
