html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  color: white;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}
