.movies-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 12px;
}

.movies-list-wrapper {
  display: flex;
  flex-direction: column;
}

.movies-list-wrapper>.title {
  color: #09d3ac;
  font-size: 48px;
  margin: 24px;
}