.color-indicators {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.2rem;
}
.color-indicators span {
  height: 5px;
}

 {}
.password-strength-text {
  color: black;
  padding-top: 0.25rem;
}
span.valid:nth-child(1) { background-color: red }
span.valid:nth-child(2) { background-color: orange }
span.valid:nth-child(3) { background-color: yellow }
span.valid:nth-child(4) { background-color: green }

li.valid {color: green;}
